<!--=========================================================================-->
<!--= Drawer                                                                =-->
<!--=========================================================================-->
<div class="mdl-layout__drawer">
  <nav class="mdl-navigation">

    <a class="mdl-navigation__link <% if controller.controller_name == "trips" %>active<%end%>" href="#">
      IME
    </a>

  </nav>
</div>

<!--=========================================================================-->
