<!--=========================================================================-->
<!--= Footer                                                                =-->
<!--=========================================================================-->
<footer class="page-footer elegant-color text-center">
  <div class="footer-copyright text-center">
    <a href="#">HackathonUSP</a><%= Date.current.year %>
  </div>
</footer>

<!--=========================================================================-->
