<!--=========================================================================-->
<!--= Header                                                                =-->
<!--=========================================================================-->
<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <%= image_tag('logo/logo.svg', :class=>"logo-image") %>
    <h1 class="header-title">Salas Livres</h1>
  </div>
</header>

<!--=========================================================================-->
