<!--=========================================================================-->
<!--= Modal                                                                 =-->
<!--=========================================================================-->
<div id="modal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modal-title" class="modal-title"></h5>
      </div>
      <div class="modal-body">
        <div class="prob">
          <canvas id="barChart"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!--=========================================================================-->
