<!--=========================================================================-->
<!--= Modal                                                                 =-->
<!--=========================================================================-->
<div id="modal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modal-title" class="modal-title"></h5>
      </div>
      <div class="modal-body">

        <!-- Pesquisa -->
        <div class="search-bar-container">
          <label for="search-bar"><i class="fa fa-clock-o"></i></label>
          <input id="search-bar" type="time" class="form-control search-bar" value="13:30">
        </div>

        <div class="probabilidade">
          <button type="button" class="btn">Calcular probabilidade</button>
          <p><span>A probabilidade de a sala estar livre às</span> 13:30 <span>é:</span> 100%</p>
        </div>

        <div id="pico" class="pico">
          <canvas id="barChart"></canvas>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!--=========================================================================-->
