<!--=========================================================================-->
<!--= Modal                                                                 =-->
<!--=========================================================================-->
<div id="modal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Place</h5>
      </div>
      <div class="modal-body">

        <!-- Pesquisa -->
        <div class="search-bar-container">
          <label for="search-bar"><i class="fa fa-search"></i></label>
          <input id="search-bar" type="text" class="form-control search-bar">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal cancel" data-dismiss="modal">CANCEL</button>
        <button type="button" class="btn btn-modal">ADD</button>
      </div>
    </div>
  </div>
</div>

<!--=========================================================================-->
