<!--=========================================================================-->
<!--= Search - Index                                                        =-->
<!--=========================================================================-->
<p id="page-title" class="page-title"></p>
<p class="page-subtitle">Salas</p>
<div id="salas-container" class="salas-container">
</div>

<%= javascript_include_tag('search.js') %>
<!--=========================================================================-->
