<!--=========================================================================-->
<!--= Search - Index                                                        =-->
<!--=========================================================================-->
<p id="page-title" class="page-title"></p>
<p class="page-subtitle">Salas</p>
<div id="salas-container" class="salas-container">

  <!-- <div class="sala card" data-toggle="modal" data-target="#modal">
    <div class="sala-header red">
      <p>Sala 1</p>
    </div>

    <div class="attribute">
      <div class="row">
        <div class="col">
          <p><span>Status:</span> Ocupada</p>
        </div>
      </div>
    </div>

    <div class="attribute">
      <div class="row">
        <div class="col">
          <p><span>Capacidade:</span> 5</p>
        </div>
      </div>
    </div>
  </div> -->

</div>

<%= javascript_include_tag('search.js') %>
<!--=========================================================================-->
