<!--=========================================================================-->
<!--= Search - Index                                                          =-->
<!--=========================================================================-->
<p class="page-title">Salas</p>

<div id="institutions">

</div>

<%= javascript_include_tag('search.js') %>
<!--=========================================================================-->
